# Table of Content
01. Import Libraries
02. Import Data
03. Transposing Data
04. Export Data
05. Import the Transposed Data for Verification

# 01. Import Libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 02. Import Data

In [2]:
# Define the main project folder path
path = r'C:\Users\saich\Desktop\CareerFoundry\Data Immersion\Achievement 4 Python Fundamentals for Data Analysts\04-2023 Instacart Basket Analysis (github)'

In [3]:
# Import 'departments' data set from 'Original Data' folder
dep = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'departments.csv'), index_col = False)

In [4]:
dep

,department_id,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,department,frozen,other,bakery,produce,alcohol,international,beverages,pets,dry goods pasta,...,meat seafood,pantry,breakfast,canned goods,dairy eggs,household,babies,snacks,deli,missing

In [5]:
dep.shape

(1, 22)

# 03. Transposing Data

In [6]:
# 1. Transpose the 'dep' dataframe.
dep_t = dep.T

In [7]:
dep_t

                             0
department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

In [8]:
# The column title above is not right. 
# 2. Create a new header for the new transposed data later.
new_header = dep_t.iloc[0]

In [9]:
new_header

0    department
Name: department_id, dtype: object

In [10]:
# 3. Save a new version of the transposed data which include only the actual content (start from row 1, don't include row 0).
dep_t_new = dep_t.iloc[1:]

In [11]:
dep_t_new

                  0
1            frozen
2             other
3            bakery
4           produce
5           alcohol
6     international
7         beverages
8              pets
9   dry goods pasta
10             bulk
11    personal care
12     meat seafood
13           pantry
14        breakfast
15     canned goods
16       dairy eggs
17        household
18           babies
19           snacks
20             deli
21          missing

In [12]:
# The new version of transposed data doesn't have a column header. Let's add them. 
# 4. Assign the new header we created in step 2 to this new version of transposed data. 
dep_t_new.columns = new_header

In [13]:
dep_t_new

department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

In [14]:
# 5. Reset the index of the new transposed data. This will create a new column called 'index'.
dep_t_new = dep_t_new.reset_index()

In [15]:
dep_t_new

department_id index       department
0                 1           frozen
1                 2            other
2                 3           bakery
3                 4          produce
4                 5          alcohol
5                 6    international
6                 7        beverages
7                 8             pets
8                 9  dry goods pasta
9                10             bulk
10               11    personal care
11               12     meat seafood
12               13           pantry
13               14        breakfast
14               15     canned goods
15               16       dairy eggs
16               17        household
17               18           babies
18               19           snacks
19               20             deli
20               21          missing

In [16]:
# 6. Change the 'index' column name to 'department_id'. 
# Don't worry if you see two identical column names here. It will disappear when we import this data back again. 
dep_t_new.rename(columns = {'index' : 'department_id'}, inplace = True)

In [17]:
dep_t_new

department_id department_id       department
0                         1           frozen
1                         2            other
2                         3           bakery
3                         4          produce
4                         5          alcohol
5                         6    international
6                         7        beverages
7                         8             pets
8                         9  dry goods pasta
9                        10             bulk
10                       11    personal care
11                       12     meat seafood
12                       13           pantry
13                       14        breakfast
14                       15     canned goods
15                       16       dairy eggs
16                       17        household
17                       18           babies
18                       19           snacks
19                       20             deli
20                       21          missing

# 04. Export Data

In [18]:
# Export 'dep_t_new' to 'Prepared Data' folder in csv format
dep_t_new.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'departments_wrangled.csv'))

# 05. Import the Transposed Data for Verification

In [19]:
# Import the 'departments_wrangled' data set for verification
dep_t_import = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'departments_wrangled.csv'), index_col = 0)

In [20]:
dep_t_import

    department_id       department
0               1           frozen
1               2            other
2               3           bakery
3               4          produce
4               5          alcohol
5               6    international
6               7        beverages
7               8             pets
8               9  dry goods pasta
9              10             bulk
10             11    personal care
11             12     meat seafood
12             13           pantry
13             14        breakfast
14             15     canned goods
15             16       dairy eggs
16             17        household
17             18           babies
18             19           snacks
19             20             deli
20             21          missing

The 'departments_wrangled' data set looks good.