# Table of Content
01. Import Libraries
02. Import Data
03. Derive New Columns
- 3.1 price_range
- 3.2 busiest_day
- 3.3 busiest_days
- 3.4 busiest_period_of_day
- 3.5 max_order
- 3.6 loyalty_flag
- 3.7 avg_price
- 3.8 spender_flag
- 3.9 median_order_interval
- 3.10 order_frequency_flag
04. Export Data

# 01. Import Libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 02. Import Data

In [2]:
# Define the main project folder path
path = r'C:\Users\saich\Desktop\CareerFoundry\Data Immersion\Achievement 4 Python Fundamentals for Data Analysts\04-2023 Instacart Basket Analysis (github)'

In [3]:
# Import 'orders_products_merged' data set from 'Prepared Data' folder
ords_prods_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

In [4]:
ords_prods_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [5]:
ords_prods_merged.shape

(32399732, 14)

# 03. Derive New Columns

### 03.1 price_range

In [6]:
# Create a new column 'price_range' based on the 'prices' value
ords_prods_merged.loc[ords_prods_merged['prices'] <= 5, 'price_range'] = 'Low-range product'

In [7]:
ords_prods_merged.loc[(ords_prods_merged['prices'] > 5) & (ords_prods_merged['prices'] <= 15), 'price_range'] = 'Mid-range product'

In [8]:
ords_prods_merged.loc[ords_prods_merged['prices'] > 15, 'price_range'] = 'High-range product'

In [9]:
# Check the output
ords_prods_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product

In [10]:
ords_prods_merged['price_range'].value_counts(dropna = False)

Mid-range product     21860860
Low-range product     10126321
High-range product      412551
Name: price_range, dtype: int64

In [11]:
ords_prods_merged.shape

(32399732, 15)

### 03.2 busiest_day

In [12]:
# First, check the frequency of 'order_day_of_week'
ords_prods_merged['order_day_of_week'].value_counts(dropna = False)

0    6203329
1    5659298
6    4495887
2    4213105
5    4205076
3    3839865
4    3783172
Name: order_day_of_week, dtype: int64

0 (Sat) has the most counts, it is the busiest day. 4 (Wed) has the least count, it is the least busy day. 
Note: 0 (Sat), 1 (Sun), 2 (Mon), 3 (Tue), 4 (Wed), 5 (Thu), 6 (Fri)

In [13]:
# Create a list 'result_busiest_day' that will contain 'Most busy', 'Regular busy' and 'Least busy' using if-statements with for loop
result_busiest_day = []

for x in ords_prods_merged['order_day_of_week']: 
    if (x == 0): 
        result_busiest_day.append('Most busy')
    elif (x == 4): 
        result_busiest_day.append('Least busy')
    else: 
        result_busiest_day.append('Regular busy')

In [14]:
# Create a new column 'busiest_day' and set it equal to 'result_busiest_day'
ords_prods_merged['busiest_day'] = result_busiest_day

In [15]:
# Check for output
ords_prods_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range,busiest_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regular busy
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular busy
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular busy
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy

In [16]:
ords_prods_merged['busiest_day'].value_counts(dropna = False)

Regular busy    22413231
Most busy        6203329
Least busy       3783172
Name: busiest_day, dtype: int64

In [17]:
ords_prods_merged.shape

(32399732, 16)

### 03.3 busiest_days

In [18]:
# First, check the frequency of 'order_day_of_week'
ords_prods_merged['order_day_of_week'].value_counts(dropna = False)

0    6203329
1    5659298
6    4495887
2    4213105
5    4205076
3    3839865
4    3783172
Name: order_day_of_week, dtype: int64

0 (Sat) and 1 (Sun) have the most counts, they are the busiest days. 3 (Tue) and 4 (Wed) have the least counts, they are the least busy days. 
Note: 0 (Sat), 1 (Sun), 2 (Mon), 3 (Tue), 4 (Wed), 5 (Thu), 6 (Fri)

In [19]:
# Create a list 'result_busiest_days' that will contain 'Most busy', 'Regular busy' and 'Least busy' using if-statements with for loop
result_busiest_days = []

for x in ords_prods_merged['order_day_of_week']: 
    if (x == 0) or (x == 1): 
        result_busiest_days.append('Most busy')
    elif (x == 3) or (x == 4): 
        result_busiest_days.append('Least busy')
    else: 
        result_busiest_days.append('Regular busy')

In [20]:
# Create a new column 'busiest_days' and set it equal to 'result_busiest_days'
ords_prods_merged['busiest_days'] = result_busiest_days

In [21]:
# Check for output
ords_prods_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range,busiest_day,busiest_days
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regular busy,Regular busy
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular busy,Least busy
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular busy,Least busy
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy

In [22]:
ords_prods_merged['busiest_days'].value_counts(dropna = False)

Regular busy    12914068
Most busy       11862627
Least busy       7623037
Name: busiest_days, dtype: int64

In [23]:
ords_prods_merged.shape

(32399732, 17)

### 03.4 busiest_period_of_day

In [24]:
# First, check the frequency of 'order_hour_of_day'
ords_prods_merged['order_hour_of_day'].value_counts(dropna = False)

10    2761333
11    2735694
14    2688728
15    2661718
13    2660570
12    2618104
16    2534744
9     2453842
17    2087273
8     1717863
18    1636226
19    1258076
20     976000
7      890923
21     795528
22     634159
23     402272
6      290450
0      218742
1      115683
5       87944
2       69360
4       53232
3       51268
Name: order_hour_of_day, dtype: int64

From 0900 to 1700, the number of orders are more than 2 million. These hours are the busiest period of a day, thus they will be labeled as 'Most orders'. From 0700 to 0800, and 1800 to 2200, the number of orders are between 0.5 to 2 million. These hours are the average-busy period of a day, thus they will be labeled as 'Average order'. From 2300 to 0600, the number of orders are less than 0.5 million. These hours are the least busy period of a day, thus they will be labeled as 'Fewest orders'.

In [25]:
# Create a new column 'busiest_period_of_day' based on the 'order_hour_of_day' value
ords_prods_merged.loc[ords_prods_merged['order_hour_of_day'].isin([9, 10, 11, 12, 13, 14, 15, 16, 17]), 'busiest_period_of_day'] = 'Most orders'

In [26]:
ords_prods_merged.loc[ords_prods_merged['order_hour_of_day'].isin([7, 8, 18, 19, 20, 21, 22]), 'busiest_period_of_day'] = 'Average orders'

In [27]:
ords_prods_merged.loc[ords_prods_merged['order_hour_of_day'].isin([23, 0, 1, 2, 3, 4, 5, 6]), 'busiest_period_of_day'] = 'Fewest orders'

In [28]:
# Check the output
ords_prods_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regular busy,Regular busy,Average orders
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular busy,Least busy,Average orders
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular busy,Least busy,Most orders
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Average orders
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Most orders

In [29]:
ords_prods_merged['busiest_period_of_day'].value_counts(dropna = False)

Most orders       23202006
Average orders     7908775
Fewest orders      1288951
Name: busiest_period_of_day, dtype: int64

In [30]:
ords_prods_merged.shape

(32399732, 18)

### 03.5 max_order

In [31]:
# Create a new column 'max_order' to store the maximum 'order_number' for each user ID
ords_prods_merged['max_order'] = ords_prods_merged.groupby('user_id')['order_number'].transform(np.max)

In [32]:
# Check the output
ords_prods_merged.head(50)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regular busy,Regular busy,Average orders,10
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular busy,Least busy,Average orders,10
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular busy,Least busy,Most orders,10
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Average orders,10
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Most orders,10
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular busy,Regular busy,Average orders,10
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular busy,Most busy,Most orders,10
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regular busy,Most busy,Most orders,10
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Regular busy,Most busy,Most orders,10
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Average orders,10
10,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Regular busy,Most busy,Most orders,22
11,1870022,15,17,2,16,8.0,196,6,1,Soda,77,7,9.0,both,Mid-range product,Regular busy,Regular busy,Most orders,22
12,1911383,15,18,2,11,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular busy,Regular busy,Most orders,22
13,2715276,15,21,1,9,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular busy,Most busy,Most orders,22
14,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular busy,Most busy,Most orders,22
15,2293453,19,2,5,14,6.0,196,3,0,Soda,77,7,9.0,both,Mid-range product,Regular busy,Regular busy,Most orders,9
16,1973799,19,5,6,12,8.0,196,15,1,Soda,77,7,9.0,both,Mid-range product,Regular busy,Regular busy,Most orders,9
17,532817,19,7,4,17,6.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Most orders,9
18,1573906,21,10,3,10,6.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Regular busy,Least busy,Most orders,33
19,1593000,31,10,3,8,7.0,196,17,0,Soda,77,7,9.0,both,Mid-range product,Regular busy,Least busy,Average orders,20
20,2231262,31,17,3,11,8.0,196,14,1,Soda,77,7,9.0,both,Mid-range product,Regular busy,Least busy,Most orders,20
21,2580647,43,6,4,16,4.0,196,9,0,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Most orders,11
22,2187180,43,9,4,12,3.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Most orders,11
23,2497897,52,1,1,9,NaN,196,4,0,Soda,77,7,9.0,both,Mid-range product,Regular busy,Most busy,Most orders,27
24,1318871,52,2,1,10,7.0,196,5,1,Soda,77,7,9.0,both,Mid-range product,Regular busy,Most busy,Most orders,27
25,1261384,52,3,1,10,7.0,196,3,1,Soda,77,7,9.0,both,Mid-range product,Regular busy,Most busy,Most orders,27
26,580568,52,5,2,10,8.0,196,6,1,Soda,77,7,9.0,both,Mid-range product,Regular busy,Regular busy,Most orders,27
27,2428073,52,7,2,7,8.0,196,5,1,Soda,77,7,9.0,both,Mid-range product,Regular busy,Regular busy,Average orders,27
28,342306,52,9,1,11,7.0,196,5,1,Soda,77,7,9.0,both,Mid-range product,Regular busy,Most busy,Most orders,27
29,1520353,52,10,2,10,8.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Regular busy,Regular busy,Most orders,27
30,2542086,52,11,2,9,7.0,196,3,1,Soda,77,7,9.0,both,Mid-range product,Regular busy,Regular busy,Most orders,27
31,944694,52,12,1,16,6.0,196,7,1,Soda,77,7,9.0,both,Mid-range product,Regular busy,Most busy,Most orders,27
32,1268191,52,15,2,11,8.0,196,3,1,Soda,77,7,9.0,both,Mid-range product,Regular busy,Regular busy,Most orders,27
33,1122089,52,17,2,10,6.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Regular busy,Regular busy,Most orders,27
34,1498922,52,18,2,10,14.0,196,6,1,Soda,77,7,9.0,both,Mid-range product,Regular busy,Regular busy,Most orders,27
35,180919,52,19,3,8,8.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Regular busy,Least busy,Average orders,27
36,2695875,52,21,5,10,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular busy,Regular busy,Most orders,27
37,3205960,67,1,3,11,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regular busy,Least busy,Most orders,24
38,970922,67,2,1,15,5.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regular busy,Most busy,Most orders,24
39,596585,67,3,1,13,7.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regular busy,Most busy,Most orders,24
40,2037087,67,4,2,9,8.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular busy,Regular busy,Most orders,24
41,2474111,67,5,3,14,8.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regular busy,Least busy,Most orders,24
42,1568481,67,6,3,12,7.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regular busy,Least busy,Most orders,24
43,2048527,67,8,2,11,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular busy,Regular busy,Most orders,24
44,2389031,67,9,2,14,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular busy,Regular busy,Most orders,24
45,2378562,67,10,1,10,6.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular busy,Most busy,Most orders,24
46,1515698,67,11,1,11,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular busy,Most busy,Most orders,24
47,1928050,67,12,2,12,8.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular busy,Regular busy,Most orders,24
48,1949274,67,13,1,10,6.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular busy,Most busy,Most orders,24
49,551869,67,14,1,9,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular busy,Most busy,Most orders,24

In [33]:
ords_prods_merged.shape

(32399732, 19)

### 03.6 loyalty_flag

In [34]:
# Create a new column 'loyalty_flag' to flag each user ID based on their "max_order" values
ords_prods_merged.loc[ords_prods_merged['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [35]:
ords_prods_merged.loc[((ords_prods_merged['max_order'] > 10) & (ords_prods_merged['max_order'] <= 40)), 'loyalty_flag'] = 'Regular customer'

In [36]:
ords_prods_merged.loc[ords_prods_merged['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [37]:
# Check the output
ords_prods_merged[['user_id', 'max_order', 'loyalty_flag']].head(50)

    user_id  max_order      loyalty_flag
0         1         10      New customer
1         1         10      New customer
2         1         10      New customer
3         1         10      New customer
4         1         10      New customer
5         1         10      New customer
6         1         10      New customer
7         1         10      New customer
8         1         10      New customer
9         1         10      New customer
10       15         22  Regular customer
11       15         22  Regular customer
12       15         22  Regular customer
13       15         22  Regular customer
14       15         22  Regular customer
15       19          9      New customer
16       19          9      New customer
17       19          9      New customer
18       21         33  Regular customer
19       31         20  Regular customer
20       31         20  Regular customer
21       43         11  Regular customer
22       43         11  Regular customer
23       52         27  Regular customer
24       52         27  Regular customer
25       52         27  Regular customer
26       52         27  Regular customer
27       52         27  Regular customer
28       52         27  Regular customer
29       52         27  Regular customer
30       52         27  Regular customer
31       52         27  Regular customer
32       52         27  Regular customer
33       52         27  Regular customer
34       52         27  Regular customer
35       52         27  Regular customer
36       52         27  Regular customer
37       67         24  Regular customer
38       67         24  Regular customer
39       67         24  Regular customer
40       67         24  Regular customer
41       67         24  Regular customer
42       67         24  Regular customer
43       67         24  Regular customer
44       67         24  Regular customer
45       67         24  Regular customer
46       67         24  Regular customer
47       67         24  Regular customer
48       67         24  Regular customer
49       67         24  Regular customer

In [38]:
ords_prods_merged['loyalty_flag'].value_counts(dropna = False)

Regular customer    15874128
Loyal customer      10282763
New customer         6242841
Name: loyalty_flag, dtype: int64

In [39]:
ords_prods_merged.shape

(32399732, 20)

### 03.7 avg_price

In [40]:
# Create a new column 'avg_price' to store the average price of products purchased for each user ID
ords_prods_merged['avg_price'] = ords_prods_merged.groupby('user_id')['prices'].transform(np.mean)

In [41]:
# Check the output
ords_prods_merged.head(50)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,department_id,prices,_merge,price_range,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,7,9.0,both,Mid-range product,Regular busy,Regular busy,Average orders,10,New customer,6.367797
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regular busy,Least busy,Average orders,10,New customer,6.367797
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regular busy,Least busy,Most orders,10,New customer,6.367797
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Least busy,Least busy,Average orders,10,New customer,6.367797
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Least busy,Least busy,Most orders,10,New customer,6.367797
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regular busy,Regular busy,Average orders,10,New customer,6.367797
6,550135,1,7,1,9,20.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regular busy,Most busy,Most orders,10,New customer,6.367797
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,7,9.0,both,Mid-range product,Regular busy,Most busy,Most orders,10,New customer,6.367797
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,7,9.0,both,Mid-range product,Regular busy,Most busy,Most orders,10,New customer,6.367797
9,2550362,1,10,4,8,30.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Least busy,Least busy,Average orders,10,New customer,6.367797
10,2968173,15,15,1,9,7.0,196,2,0,Soda,...,7,9.0,both,Mid-range product,Regular busy,Most busy,Most orders,22,Regular customer,3.980556
11,1870022,15,17,2,16,8.0,196,6,1,Soda,...,7,9.0,both,Mid-range product,Regular busy,Regular busy,Most orders,22,Regular customer,3.980556
12,1911383,15,18,2,11,7.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regular busy,Regular busy,Most orders,22,Regular customer,3.980556
13,2715276,15,21,1,9,7.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regular busy,Most busy,Most orders,22,Regular customer,3.980556
14,487368,15,22,1,10,14.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regular busy,Most busy,Most orders,22,Regular customer,3.980556
15,2293453,19,2,5,14,6.0,196,3,0,Soda,...,7,9.0,both,Mid-range product,Regular busy,Regular busy,Most orders,9,New customer,8.372059
16,1973799,19,5,6,12,8.0,196,15,1,Soda,...,7,9.0,both,Mid-range product,Regular busy,Regular busy,Most orders,9,New customer,8.372059
17,532817,19,7,4,17,6.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Least busy,Least busy,Most orders,9,New customer,8.372059
18,1573906,21,10,3,10,6.0,196,2,0,Soda,...,7,9.0,both,Mid-range product,Regular busy,Least busy,Most orders,33,Regular customer,7.012683
19,1593000,31,10,3,8,7.0,196,17,0,Soda,...,7,9.0,both,Mid-range product,Regular busy,Least busy,Average orders,20,Regular customer,8.137793
20,2231262,31,17,3,11,8.0,196,14,1,Soda,...,7,9.0,both,Mid-range product,Regular busy,Least busy,Most orders,20,Regular customer,8.137793
21,2580647,43,6,4,16,4.0,196,9,0,Soda,...,7,9.0,both,Mid-range product,Least busy,Least busy,Most orders,11,Regular customer,7.444898
22,2187180,43,9,4,12,3.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Least busy,Least busy,Most orders,11,Regular customer,7.444898
23,2497897,52,1,1,9,NaN,196,4,0,Soda,...,7,9.0,both,Mid-range product,Regular busy,Most busy,Most orders,27,Regular customer,6.356287
24,1318871,52,2,1,10,7.0,196,5,1,Soda,...,7,9.0,both,Mid-range product,Regular busy,Most busy,Most orders,27,Regular customer,6.356287
25,1261384,52,3,1,10,7.0,196,3,1,Soda,...,7,9.0,both,Mid-range product,Regular busy,Most busy,Most orders,27,Regular customer,6.356287
26,580568,52,5,2,10,8.0,196,6,1,Soda,...,7,9.0,both,Mid-range product,Regular busy,Regular busy,Most orders,27,Regular customer,6.356287
27,2428073,52,7,2,7,8.0,196,5,1,Soda,...,7,9.0,both,Mid-range product,Regular busy,Regular busy,Average orders,27,Regular customer,6.356287
28,342306,52,9,1,11,7.0,196,5,1,Soda,...,7,9.0,both,Mid-range product,Regular busy,Most busy,Most orders,27,Regular customer,6.356287
29,1520353,52,10,2,10,8.0,196,4,1,Soda,...,7,9.0,both,Mid-range product,Regular busy,Regular busy,Most orders,27,Regular customer,6.356287
30,2542086,52,11,2,9,7.0,196,3,1,Soda,...,7,9.0,both,Mid-range product,Regular busy,Regular busy,Most orders,27,Regular customer,6.356287
31,944694,52,12,1,16,6.0,196,7,1,Soda,...,7,9.0,both,Mid-range product,Regular busy,Most busy,Most orders,27,Regular customer,6.356287
32,1268191,52,15,2,11,8.0,196,3,1,Soda,...,7,9.0,both,Mid-range product,Regular busy,Regular busy,Most orders,27,Regular customer,6.356287
33,1122089,52,17,2,10,6.0,196,4,1,Soda,...,7,9.0,both,Mid-range product,Regular busy,Regular busy,Most orders,27,Regular customer,6.356287
34,1498922,52,18,2,10,14.0,196,6,1,Soda,...,7,9.0,both,Mid-range product,Regular busy,Regular busy,Most orders,27,Regular customer,6.356287
35,180919,52,19,3,8,8.0,196,4,1,Soda,...,7,9.0,both,Mid-range product,Regular busy,Least busy,Average orders,27,Regular customer,6.356287
36,2695875,52,21,5,10,30.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regular busy,Regular busy,Most orders,27,Regular customer,6.356287
37,3205960,67,1,3,11,NaN,196,1,0,Soda,...,7,9.0,both,Mid-range product,Regular busy,Least busy,Most orders,24,Regular customer,7.656790
38,970922,67,2,1,15,5.0,196,2,1,Soda,...,7,9.0,both,Mid-range product,Regular busy,Most busy,Most orders,24,Regular customer,7.656790
39,596585,67,3,1,13,7.0,196,2,1,Soda,...,7,9.0,both,Mid-range product,Regular busy,Most busy,Most orders,24,Regular customer,7.656790
40,2037087,67,4,2,9,8.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regular busy,Regular busy,Most orders,24,Regular customer,7.656790
41,2474111,67,5,3,14,8.0,196,2,1,Soda,...,7,9.0,both,Mid-range product,Regular busy,Least busy,Most orders,24,Regular customer,7.656790
42,1568481,67,6,3,12,7.0,196,2,1,Soda,...,7,9.0,both,Mid-range product,Regular busy,Least busy,Most orders,24,Regular customer,7.656790
43,2048527,67,8,2,11,7.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regular busy,Regular busy,Most orders,24,Regular customer,7.656790
44,2389031,67,9,2,14,7.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regular busy,Regular busy,Most orders,24,Regular customer,7.656790
45,2378562,67,10,1,10,6.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regular busy,Most busy,Most orders,24,Regular customer,7.656790
46,1515698,67,11,1,11,7.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regular busy,Most busy,Most orders,24,Regular customer,7.656790
47,1928050,67,12,2,12,8.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regular busy,Regular busy,Most orders,24,Regular customer,7.656790
48,1949274,67,13,1,10,6.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regular busy,Most busy,Most orders,24,Regular customer,7.656790
49,551869,67,14,1,9,7.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regular busy,Most busy,Most orders,24,Regular customer,7.656790

In [42]:
ords_prods_merged.shape

(32399732, 21)

### 03.8 spender_flag

In [43]:
# Create a new column 'spender_flag' to flag each user ID based on their "avg_price" values
ords_prods_merged.loc[ords_prods_merged['avg_price'] < 10, 'spender_flag'] = 'Low spender'

In [44]:
ords_prods_merged.loc[ords_prods_merged['avg_price'] >= 10, 'spender_flag'] = 'High spender'

In [45]:
# Check the output
ords_prods_merged[['user_id', 'avg_price', 'spender_flag']].head(50)

    user_id  avg_price spender_flag
0         1   6.367797  Low spender
1         1   6.367797  Low spender
2         1   6.367797  Low spender
3         1   6.367797  Low spender
4         1   6.367797  Low spender
5         1   6.367797  Low spender
6         1   6.367797  Low spender
7         1   6.367797  Low spender
8         1   6.367797  Low spender
9         1   6.367797  Low spender
10       15   3.980556  Low spender
11       15   3.980556  Low spender
12       15   3.980556  Low spender
13       15   3.980556  Low spender
14       15   3.980556  Low spender
15       19   8.372059  Low spender
16       19   8.372059  Low spender
17       19   8.372059  Low spender
18       21   7.012683  Low spender
19       31   8.137793  Low spender
20       31   8.137793  Low spender
21       43   7.444898  Low spender
22       43   7.444898  Low spender
23       52   6.356287  Low spender
24       52   6.356287  Low spender
25       52   6.356287  Low spender
26       52   6.356287  Low spender
27       52   6.356287  Low spender
28       52   6.356287  Low spender
29       52   6.356287  Low spender
30       52   6.356287  Low spender
31       52   6.356287  Low spender
32       52   6.356287  Low spender
33       52   6.356287  Low spender
34       52   6.356287  Low spender
35       52   6.356287  Low spender
36       52   6.356287  Low spender
37       67   7.656790  Low spender
38       67   7.656790  Low spender
39       67   7.656790  Low spender
40       67   7.656790  Low spender
41       67   7.656790  Low spender
42       67   7.656790  Low spender
43       67   7.656790  Low spender
44       67   7.656790  Low spender
45       67   7.656790  Low spender
46       67   7.656790  Low spender
47       67   7.656790  Low spender
48       67   7.656790  Low spender
49       67   7.656790  Low spender

In [46]:
ords_prods_merged['spender_flag'].value_counts(dropna = False)

Low spender     32280013
High spender      119719
Name: spender_flag, dtype: int64

In [47]:
ords_prods_merged.shape

(32399732, 22)

### 03.9 median_order_interval

In [48]:
# Create a new column 'median_order_interval' to store the median of 'days_since_prior_order' values for each user ID
ords_prods_merged['median_order_interval'] = ords_prods_merged.groupby('user_id')['days_since_prior_order'].transform(np.median)

In [49]:
# Check the output
ords_prods_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,_merge,price_range,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spender_flag,median_order_interval
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,both,Mid-range product,Regular busy,Regular busy,Average orders,10,New customer,6.367797,Low spender,20.5
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,both,Mid-range product,Regular busy,Least busy,Average orders,10,New customer,6.367797,Low spender,20.5
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,both,Mid-range product,Regular busy,Least busy,Most orders,10,New customer,6.367797,Low spender,20.5
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,both,Mid-range product,Least busy,Least busy,Average orders,10,New customer,6.367797,Low spender,20.5
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,both,Mid-range product,Least busy,Least busy,Most orders,10,New customer,6.367797,Low spender,20.5

In [50]:
ords_prods_merged.shape

(32399732, 23)

### 03.10 order_frequency_flag

In [51]:
# Create a new column 'order_frequency_flag' to flag each user ID based on their 'median_order_interval' values
ords_prods_merged.loc[ords_prods_merged['median_order_interval'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'

In [52]:
ords_prods_merged.loc[((ords_prods_merged['median_order_interval'] > 10) & (ords_prods_merged['median_order_interval'] <= 20)), 'order_frequency_flag'] = 'Regular customer'

In [53]:
ords_prods_merged.loc[ords_prods_merged['median_order_interval'] <= 10, 'order_frequency_flag'] = 'Frequent customer'

In [54]:
# Check the output
ords_prods_merged[['user_id', 'median_order_interval', 'order_frequency_flag']].head(50)

    user_id  median_order_interval   order_frequency_flag
0         1                   20.5  Non-frequent customer
1         1                   20.5  Non-frequent customer
2         1                   20.5  Non-frequent customer
3         1                   20.5  Non-frequent customer
4         1                   20.5  Non-frequent customer
5         1                   20.5  Non-frequent customer
6         1                   20.5  Non-frequent customer
7         1                   20.5  Non-frequent customer
8         1                   20.5  Non-frequent customer
9         1                   20.5  Non-frequent customer
10       15                   10.0      Frequent customer
11       15                   10.0      Frequent customer
12       15                   10.0      Frequent customer
13       15                   10.0      Frequent customer
14       15                   10.0      Frequent customer
15       19                    6.0      Frequent customer
16       19                    6.0      Frequent customer
17       19                    6.0      Frequent customer
18       21                    7.5      Frequent customer
19       31                    6.0      Frequent customer
20       31                    6.0      Frequent customer
21       43                   10.0      Frequent customer
22       43                   10.0      Frequent customer
23       52                    8.0      Frequent customer
24       52                    8.0      Frequent customer
25       52                    8.0      Frequent customer
26       52                    8.0      Frequent customer
27       52                    8.0      Frequent customer
28       52                    8.0      Frequent customer
29       52                    8.0      Frequent customer
30       52                    8.0      Frequent customer
31       52                    8.0      Frequent customer
32       52                    8.0      Frequent customer
33       52                    8.0      Frequent customer
34       52                    8.0      Frequent customer
35       52                    8.0      Frequent customer
36       52                    8.0      Frequent customer
37       67                    7.0      Frequent customer
38       67                    7.0      Frequent customer
39       67                    7.0      Frequent customer
40       67                    7.0      Frequent customer
41       67                    7.0      Frequent customer
42       67                    7.0      Frequent customer
43       67                    7.0      Frequent customer
44       67                    7.0      Frequent customer
45       67                    7.0      Frequent customer
46       67                    7.0      Frequent customer
47       67                    7.0      Frequent customer
48       67                    7.0      Frequent customer
49       67                    7.0      Frequent customer

In [56]:
ords_prods_merged['order_frequency_flag'].value_counts(dropna = False)

Frequent customer        21556644
Regular customer          7207340
Non-frequent customer     3635743
NaN                             5
Name: order_frequency_flag, dtype: int64

In [57]:
ords_prods_merged.shape

(32399732, 24)

#### Why are there mising values in 'order_frequency_flag' column?
Remember that users with maximum order of 1 do not have any value in 'days_since_prior_order' column, as well as this 'order_frequency_flag' column that is derived from 'days_since_prior_order' column.

In [64]:
# Users that have missing 'order_frequency_flag' come with maximum order of 1
ords_prods_merged.loc[ords_prods_merged['order_frequency_flag'].isnull() == True, ['user_id', 'order_number', 'max_order', 'days_since_prior_order', 'median_order_interval', 'order_frequency_flag']]

,user_id,order_number,max_order,days_since_prior_order,median_order_interval,order_frequency_flag
13641263,159838,1,1,NaN,NaN,NaN
17247561,159838,1,1,NaN,NaN,NaN
17618338,159838,1,1,NaN,NaN,NaN
24134164,159838,1,1,NaN,NaN,NaN
25875573,159838,1,1,NaN,NaN,NaN

# 04. Export Data

In [65]:
# Take a final look of 'ords_prods_merged' dataframe
ords_prods_merged

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,price_range,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spender_flag,median_order_interval,order_frequency_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,Mid-range product,Regular busy,Regular busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,Mid-range product,Regular busy,Least busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,Mid-range product,Regular busy,Least busy,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,Mid-range product,Least busy,Least busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,Mid-range product,Least busy,Least busy,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32399727,1320836,202557,17,2,15,1.0,43553,2,1,Orange Energy Shots,...,Low-range product,Regular busy,Regular busy,Most orders,31,Regular customer,6.905655,Low spender,8.0,Frequent customer
32399728,31526,202557,18,5,11,3.0,43553,2,1,Orange Energy Shots,...,Low-range product,Regular busy,Regular busy,Most orders,31,Regular customer,6.905655,Low spender,8.0,Frequent customer
32399729,758936,203436,1,2,7,NaN,42338,4,0,"Zucchini Chips, Pesto",...,Mid-range product,Regular busy,Regular busy,Average orders,3,New customer,7.631579,Low spender,15.0,Regular customer
32399730,2745165,203436,2,3,5,15.0,42338,16,1,"Zucchini Chips, Pesto",...,Mid-range product,Regular busy,Least busy,Fewest orders,3,New customer,7.631579,Low spender,15.0,Regular customer
32399731,3093936,205420,1,4,14,NaN,28818,8,0,Hot Oatmeal Multigrain Raisin,...,Mid-range product,Least busy,Least busy,Most orders,16,Regular customer,7.684746,Low spender,13.0,Regular customer

In [66]:
# Export 'ords_prods_merged' dataframe to 'Prepared Data' folder in pickle format
ords_prods_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_flagged.pkl'))